.container{
    width: 100vw;
    height: calc(100vh - 120px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./asset/image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container > .mainHeading{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
}

.container >  .sellType{
    display: flex;
    gap: 10px;
}
.container > .sellType > button{
background-color: lightgray;
color: #4E4E4E;
}

.container > .inputPart {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 3px lightgray;
    padding: 0px 20px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.container > .inputPart > .searchPlace{
    display: flex;
    gap: 20px;
}

.container > .inputPart > .searchPlace select{
    height: 40px;
    width: 280px;
    border-radius: 3px;
    background-color: lightgray;
    outline-style: none;
    border: none;
}

.container > .inputPart > .searchPlace select option{
    border-bottom: 1px solid lightgray;
}

.container > .inputPart > .searchPlace button{
    width: 80px;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline-style: none;
    background-color: #33A137;
    color: #ECFFFF;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}