.container {
    background-color: #F7F9FC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.container > .center > ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.container > .center > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.container > .right > ul {
    display: flex;
    list-style: none;
    gap: 15px;
}


.container > .right > ul > li > a{
    text-decoration: none;
}